<!doctype html>
<html>

<head>
<title>R. Scott Bradshaw Portfolio</title>

    <link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css" /><link href="/stylesheets/all.css" rel="stylesheet" type="text/css" />
    <script src="/javascripts/all.js" type="text/javascript"></script>
</head>

<body>
    <div class="fixed">
      <nav class='top-bar'>
        <ul class='title-area'>
          <li class='name'>
            <h1><a href="#">R.Scott Bradshaw</a></h1>
          </li>
          <li class='name'>
            <h2><a href="#portfolio">Portfolio</a></h2>
          </li>
          <li class='name'>
            <h2><a href="#current">Current Projects</a></h2>
          </li>
          <li class='name'>
            <h2><a href="#contact">Contact</a></h2>
          </li>
        </ul>
      </nav>
    </div>

    <div id="landing">
      <img id = "background-pic" src="images/longroad.jpg" />
      <img id = "my-pic" src="images/Scott1.jpg" />
        <div id="info">
          <h1>R. Scott Bradshaw</h1>
          <h2>Rails Engineer</h2>
          <ul>
            <li>programmer</li>
            <li>salesman</li>
            <li>manager</li>
          </ul>
        </div>
    </div>

    <div id="portfolio">
        <p>test area</p>
    </div>

    <div id="current">
      <p>test area</p>

    </div>

    <div id="contact">
      <p>test area</p>

    </div>

    <div id="experience">

    </div>
</body>

</html>
