<!doctype html>
<html>

<head>
<title>R. Scott Bradshaw Portfolio</title>

    <link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css" /><link href="/stylesheets/all.css" rel="stylesheet" type="text/css" />
    <script src="/javascripts/all.js" type="text/javascript"></script>
</head>

<body>
    <div id="fixed">
      <nav class='top-bar'>
        <ul class='title-area'>
          <li class='name'>
            <h1><a href="#">R.Scott Bradshaw</a></h1>
          </li>
          <li class='name'>
            <h2><a href="#portfolio">Portfolio</a></h2>
          </li>
          <li class='name'>
            <h2><a href="#current">Current Projects</a></h2>
          </li>
        </ul>
        <div id="contact">
          <div class="contact-nav">
            <ul>
              <li>
                <a href="https://github.com/rscottbradshaw">
                  <i class="fa fa-github-square"></i>
                </a>
              </li>
              <li>
                <a href="www.linkedin.com/pub/r-scott-bradshaw/1b/614/338">
                  <i class="fa fa-linkedin-square"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/RScottBradshaw">
                  <i class="fa fa-twitter-square"></i>
                </a>
              </li>
              <li>
                <a href="mailto:scottbradshaw@nc.rr.com">
                  <i class="fa fa-envelope-square"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div id="landing">
      <img class ="background-pic" src="images/longroad.jpg" />
      <img class ="my-pic" src="images/Scott1.jpg" />
        <div class="info">
          <h1>R. Scott Bradshaw</h1>
          <h2>Rails Engineer</h2>
          <ul>
            <li>
              <a href="#programmer">programmer</a>
            </li>
            <li>
              <a href="#sales">salesman</a>
            </li>
            <li>
              <a href="#manager">manager</a>
            </li>
          </ul>
        </div>
    </div>

    <div id="portfolio">
      <div class="festivit">
        <h1>Portfolio</h1>
        <img class="festivitpic" src="images/festivit.png" />
        <div class="festivit-info">
          <h3>Festivit</h3>
          <p>This was our final project for The Iron Yard.  I worked in a group of seven people over three weeks to build this application for a nonprofit client.  Our platform automates complex festival logistics so more time can be spent on the important stuff.  We are currently still working on this application.
          </p>
        </div>
      </div>
    </div>

    <div id="current">
      <h1>Current Projects</h1>
      <div class="interior">
        <img class="icpic" src="images/icpic.png" />
        <div class="interior-info">
          <h3>Interior Connections</h3>
          <p>This was my first website that I built for a client.  It was a great website for my first exposure to coding.  I am currently redesigning it with all the new technologies I learned at The Iron Yard.</p>
        </div>
      </div>
      <div class="kids">
        <img class="children" src="images/children.jpg" />
        <div class="children-info">
          <h3>Kids Clothing Resale</h3>
          <p>This website will allow people to resell their gently used kids clothes to other parents.  I am working on this with two fellow participants from my class at The Iron Yard.</p>
        </div>
      </div>
    </div>


    <div class="experience">
      <h1>Past Experience</h1>
      <div id="programmer">
        <h4>The Iron Yard Experience</h4>
        <p>Learned object-oriented programming and design using Ruby on Rails, built web applications backed by SQL databases using Ruby on Rails, studied REST API design, including authentication using OAuth, retrieved and rendered information from internal and external APIs using JavaScript, designed responsive pages with CSS, used best developer practices, including test-driven development and agile planning, tested applications, both with unit tests, and later with acceptance tests using Capybara, practiced group development, both with other Rails developers, and front-end developers, coordinated development using Git and GitHub</p>
      </div>
      <div id="sales">
        <h4>Sales Experience</h4>
        <p>I started my career many years ago in property and casualty insurance sales.  With over 10 years of experience and increasing responsibility I had daily contact with clients and potential clients.  I also oversaw a sales team of more than 15 agents for a regional independent agency.  My proven track record of accomplishing and exceeding sales goals demonstrates my drive and ability to deliver results.  This background also gives me a unique combination of business acumen and sales tactics with web development skills. </p>
      </div>
      <div id="manager">
        <h4>Manager Experience</h4>
        <p>As the Vice President of Operations for a regional independent insurance agency, I had many managerial responsibilities.  This included all human resource functions such as selecting new employees, termination of employees when necessary, implementation of agency management systems, ensuring compliance by all employees of state educational requirements, and training employees on legislative changes.  I was also responsible for managing the financial results for the 8 offices within my jurisdiction.  This management experience is invaluable, allowing me to understand how a business is successful and allowing me to contribute beyond simply coding.</p>
      </div>
    </div>
</body>

</html>
