---
title: R. Scott Bradshaw
---

<title>About me</title>

    <link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css" /><link href="/stylesheets/all.css" rel="stylesheet" type="text/css" />
    <script src="/javascripts/all.js" type="text/javascript"></script>
  </head>

  <body class="about about_index">
    <header>
      <nav class='top-bar' data-topbar>
        <ul class='title-area'>
          <li class='name'>
            <h1><a href="/">R.Scott Bradshaw</a></h1>
          </li>
        </ul>

        <section class='top-bar-section'>
          <ul class='left'>
            <li><a href="/interests">Interests</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </section>
      </nav>
    </header>

    <div class='text-center large-3 columns'>
  <h1>About Scott</h1>
  <p>Hi!  Thanks for stopping by my personal web site!  I am student at The Iron Yard in Durham, NC.  I am pursuing a new career in web development.  In my former life I was a sales executive in the personal insurance industry.  I am ready to try to make a difference in the world and know that entering into the technology field will allow me to do this.  The Iron Yard is giving me an intense introduction to the world of Ruby on Rails.</p>
</div>


  <!-- </body>
</html>
<div class="welcome">
  <h1></h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
<!-- </div><!-- .welcome -->
